src/main/app/sendtodhis.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" version="EE-3.4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<context:property-placeholder location="classpath:alert-service.properties"></context:property-placeholder>
    <flow name="sendtoDHISFlow1" doc:name="sendtoDHISFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="sendToDHIS" doc:name="VM"/>
        <logger message="Sending dataValue to DHIS, the message: #[payload:]" level="INFO" doc:name="Logger"/>
        <message-properties-transformer doc:name="Add basic auth">
            <add-message-property key="Authorization" value="${dhis.auth}"/>
        </message-properties-transformer>
        <http:outbound-endpoint exchange-pattern="request-response" host="${dhis.host}" port="${dhis.port}" path="api/events" method="POST" mimeType="application/xml" doc:name="HTTP"/>
        <logger message="Recieved response from DHIS:
#[groovy: message.toString()]
The payload is:
#[groovy: message.getPayloadAsString()]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
